<p>emploi-du-temp-list works!</p>

<!--<section fxLayout="row wrap" fxLayoutAlign="center center">-->
<!--  <mat-card fxFlex="500px" fxFlex.xs="100%">-->
<!--    <mat-card-title>Create a new admin</mat-card-title>-->
<!--    <form [formGroup]="" autocomplete="off" novalidate (ngSubmit)="createAdmin(adminForm.value)" fxLayout="column wrap"-->
<!--          fxLayoutAlign="center center" fxLayoutGap="10px">-->
<!--      <mat-card-content>-->
<!--        <mat-form-field>-->
<!--          <input matInput type="text" placeholder="Admin's name" formControlName="id" id="id">-->
<!--          <mat-hint align="end">Not more then 60 characters long.</mat-hint>-->
<!--          <mat-error *ngIf="hasError('id', 'required')">ID is required</mat-error>-->
<!--          <mat-error *ngIf="hasError('id', 'maxlength')">You have more than 60 characters</mat-error>-->
<!--        </mat-form-field>-->


<!--        <mat-form-field>-->
<!--          <input matInput type="password" placeholder="Admin's password" formControlName="password">-->
<!--          <mat-hint align="end">Not more then 100 characters long.</mat-hint>-->
<!--          <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>-->
<!--          <mat-error *ngIf="hasError('password', 'maxlength')">You have more than 100 characters</mat-error>-->
<!--        </mat-form-field>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions align="center">-->
<!--        <button mat-raised-button color="primary" [disabled]="!adminForm.valid">Create</button>-->
<!--        <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>-->
<!--      </mat-card-actions>-->
<!--    </form>-->
<!--  </mat-card>-->
<!--</section>-->
